{% extends "base.html" %}
{% block nav %}
<nav class="main-nav--bg">
<div class="container main-nav">
  <div class="main-nav-start">
      <form action="/add_demande_article" method="post" class="d-flex">
        <div class="search-wrapper">
          <i data-feather="search" aria-hidden="true"></i>
          <input type="search" name="article" list="articles" id="search-article" placeholder="Nom de l'article..." required autofocus>
            <datalist id="articles"></datalist>
        </div>
        <div class="search-wrapper">
          <input class="form-control me-2" type="number" id="quantity_needed_article" min="1" placeholder="Quantité" name ="quantity_needed_article" style="width: 150px; margin-top: 10px;" required>
          <button class="button-12" type="submit">Ajouter</button>
        </div>
      </form>
  </div>
</div>
</nav>
{% endblock %}
{% block content %}
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title">Articles à commander :</h2>
        <div class="row">
          <div class="col-lg-12">
            <div class="users-table table-wrapper">
            <div class="search-wrapper" style="display: flex; justify-content: center; align-items: center; padding-bottom: 10px">
              <input type="text" id="RechercheFiltrer" placeholder="Que voulez-vous chercher ?">
            </div>
            <div class="users-table table-wrapper">
            <div class="search-wrapper" style="display: flex; justify-content: right; align-items: center; padding-bottom: 10px">
              <button class="button-12" onclick="archiverSelection()" >Archiver la sélection</button>
            </div>

              <table class="posts-table">
                <thead>
                  <tr class="users-table-info">
                    <th style="padding-left: 10px;">Date</th>
                    <th>Nom de l'article</th>
                    <th>Quantité demandée</th>
                    <th>Fournisseur</th>
                    <th>Quantité commandée</th>
                    <th>Observation</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for commande_article in commandes|sort(attribute='demande_article.date_demande', reverse=True) %}
                  <tr style="color : white">
                    <td>{{ commande_article.demande_article.date_demande.replace(tzinfo=pytz.utc).astimezone(algeria_tz).strftime('%d/%m/%Y %H:%M:%S') }}</td>
                    <td>
                        <p>{{ commande_article.demande_article.article.nom }}</p>
                    </td>
                    <td>{{ commande_article.demande_article.quantite_demandee }}</td>
                    <td>
                        <select name="fournisseur" class="form-select fournisseur" id="fournisseur-{{ commande_article.id }}">
                            <option value="" selected></option>
                            <option value="BENADDA" {% if commande_article.fournisseur == "BENADDA" %}selected{% endif %}>BENADDA</option>
                            <option value="BLP" {% if commande_article.fournisseur == "BLP" %}selected{% endif %}>BLP</option>
                            <option value="BEAUTY PHARM" {% if commande_article.fournisseur == "BEAUTY PHARM" %}selected{% endif %}>BEAUTY PHARM</option>
                        </select>
                    </td>
                    <td class="d-flex justify-content-center">
                      <div class="search-wrapper">
                        <input type="number" name="quantite_commandee" min="0" value="{{ commande_article.quantite_commandee if commande_article.quantite_commandee is not none else '' }}" class="form-control quantite-commandee" id="quantite-{{ commande_article.id }}" style="width: 100px;">
                      </div>
                    </td>
                    <td>
                        <div class="search-wrapper">
                            <input type="text" name="observation" value="{{ commande_article.observation|default('') }}" class="form-control observation" id="observation-{{ commande_article.id }}">
                        </div>
                    </td>
                    <td>
                        <div class="switch">
                            <input type="checkbox" id="chk-{{ commande_article.id }}" name="statut" onclick="archiveCommandeArticle({{ commande_article.id }})">
                            <label for="chk-{{ commande_article.id }}" class="slider"></label>
                        </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const fournisseurInputs = document.querySelectorAll(".fournisseur");
  const quantiteCommandeeInputs = document.querySelectorAll(".quantite-commandee");
  const observationInputs = document.querySelectorAll(".observation");

  fournisseurInputs.forEach((fournisseurInput, index) => {
    fournisseurInput.addEventListener("keydown", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        quantiteCommandeeInputs[index].focus();
      }
    });
  });

  quantiteCommandeeInputs.forEach((quantiteCommandeeInput, index) => {
    quantiteCommandeeInput.addEventListener("keydown", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        observationInputs[index].focus();
      }
    });
  });

  observationInputs.forEach((observationInput, index) => {
    observationInput.addEventListener("keydown", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        // Récupérer l'ID de l'article à partir de l'ID de l'input
        const commandeArticleId = observationInput.id.split('-')[1];
        archiveCommandeArticle(commandeArticleId);
        const fournisseurNextRow = observationInput.closest("tr").nextElementSibling.querySelector(".fournisseur");
        const switchButton = document.getElementById('chk-' + commandeArticleId);
        if (fournisseurNextRow) {
          fournisseurNextRow.focus();
          // Simuler un clic sur l'élément pour ouvrir la liste déroulante
          let event = new MouseEvent('mousedown', {
            bubbles: true,
            cancelable: true,
            view: window
          });
          fournisseurNextRow.dispatchEvent(event);
        }
        // Simuler un clic sur le bouton pour changer son état
        if (switchButton) {
          switchButton.click();
        }
      }
    });
  });
});
    </script>
{% endblock %}